.push-down {
  margin-top: 5rem;
}

img.avatar {
  border-radius: 50%;
}
img.comment {
  margin-bottom: 2rem;
}

legend {
  img.avatar {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
}

.alert {
  p a {
    color: #fff;
    text-decoration: underline;
  }
}
a.list-group-item {
  position: relative;
  span {
    display: block;
    &.list-group-item-heading {
      color: #158cba;
      font-size: 4rem;
      max-width: 90%;
    }
  }
  img.index {
    position: absolute;
    right: 1rem; top: 1rem;
    border-radius: 1rem;
  }
  .badge.comments {
    position: absolute;
    right: 1rem; bottom: 1rem;
  }
}

.post-markdown {
  font-size: 2rem;
}
